<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="social-media-container social-media-list">

          {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
          {% endif %}

          {% comment %}
          {% include icon-twitch.html username=site.twitch_username %}

          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}
          {% endcomment %}

          {% include icon-rss.html username="feed.xml" %}

          {% include icon-email.html username=site.email %}

      </div>
    </div>

  </div>

</footer>
