<header class="page-header page-width">
  <nav>
    <ul>
      <li class="site-title"><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a><li>
      {% for page_name in site.header_pages %}
      {% assign page = site.pages | where: "name", page_name | first %}
      <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
      {% endfor %}
      <li><a href="{{ site.baseurl}}/daily">Daily Posts</a></li>
      <li><a href="{{ site.baseurl}}/roguelike-tutorial-2020">Roguelike Tutorial 2020</a></li>
      <li><a href="https://gridbugs.itch.io/">Itch</a></li>
      <li><a href="https://github.com/gridbugs">Github</a></li>
    </ul>
  </nav>
</header>
