<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo title=false %}
  {% if page.og_image %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images{{ page.url}}{{ page.og_image }}">
  {% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/favicon-big.png">
  {% endif %}
  <title>
    {% if layout.title_date %}
    {{ page.date | date: "%Y-%m-%d" }}{% if page.title and page.title != "" %}: {{ page.title | escape }}{% endif %}
    {% elsif page.title and page.title != "" %}
      {{ page.title | escape }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
