<div class="pagination">
  <ul>
{% if paginator.previous_page %}
  <li><a href="{{ site.baseurl }}{{ paginator.first_page_path }}" class="first">first</a></li>
  <li class="padding-left"><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">prev</a></li>
{% else %}
  <li><span class="disabled">first</span></li>
  <li class="padding-left"><span class="disabled">prev</span></li>
{% endif %}
{% if paginator.next_page %}
  <li class="push-right"><a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">next</a></li>
  <li class="padding-left"><a href="{{ site.baseurl }}{{ paginator.last_page_path }}" class="last">last</a></li>
{% else %}
  <li class="push-right"><span class="disabled">next</span></li>
  <li class="padding-left"><span class="disabled">last</span></li>
{% endif %}
  </ul>
</div>
