@charset "utf-8";

$border-grey: #CCCCCC;
$background-grey: #EEEEEE;
$title-grey: #888888;
$text-colour: #000000;
$link-colour: #2A7AE2;
$link-colour-visited: #1756A9;
$link-colour-disabled: #888888;

// Use sans-serif font for headings
h1, h2, h3, h4, h5, h6 {
  font-family: Sans-Serif;
}

// centre text within footer and add some space
footer {
  margin-top: 40px;
  text-align: center;
}

// recolour links
a {
  text-decoration: none;
  color: $link-colour;
  &:visited {
    color: $link-colour-visited;
  }
  &:hover {
    text-decoration: underline;
    color: $text-colour;
  }
}

header.page-header {
  nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    > li {
      &:not(:last-child) {
        margin-right: 20px;
      }
      // Header links are coloured differently from normal links
      > a {
        color: $text-colour;
        &:visited {
          color: $text-colour;
        }
      }
    }
    > li.site-title {
      margin-right: auto;
    }
    // When the screen is narrow, let the buttons wrap and add some spacing
    @media(max-width: 700px) {
      flex-wrap: wrap;
      > li {
        > a {
          display: block;
          margin: 0 10px 10px 0;
        }
      }
      > li.site-title {
        margin-right: 0;
        > a {
          border: none;
          color: $title-grey;
        }
      }
    }
  }
}

// The anchor class is applied to headings with anchor links. Prevent them from appearing like normal urls.
a.anchor {
  color: black;
  text-decoration: none;
}

// Prevent images in articles appearing wider than the article body.
article img {
  max-width: 100%;
  padding: 10px 0;
}

// Applied to top-level elements to constrain their width, and center them in the page
.page-width {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

// Add this to a list to remove bullet points and padding
ul.no-bullet {
  list-style: none;
  padding: 0;
}

// Applied to the div which wraps code snippets.
// At the moment this site uses a _combination_ of rouge and pygments (rouge has trouble with rust syntax),
// and this selector happens to match both outputs.
div.highlight {
  border: 1px solid $border-grey;
  border-radius: 3px;
  background-color: $background-grey;
  padding: 8px 12px;
  overflow-x: auto;

  pre {
    margin: 0;
  }
}

// Applied to post metadata
p.post-meta {
  color: grey;
}

// Custom colours and spacing for tables
table {
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid $border-grey;
  th, td {
    padding: 8px 10px;
  }
  th {
    border: 1px solid $border-grey;
  }
  td {
    border: 1px solid $border-grey;
  }
}

// Pagination links
ul.pagination {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  li.padding-left {
    padding-left: 10px;
  }
  li.push-right {
    margin-left: auto;
  }
  li.disabled {
    color: $link-colour-disabled;
  }
  li.post-pagination {
    max-width: 45%;
  }
}
