<header>
  <div class="header-nav-container">
    <nav>
      <ul>
	<li class="lhs"><a href="{{ config.base_url | safe }}">{{ config.title }}</a></li>
	{% if page %}
	{% set section = get_section(path=page.ancestors | last) %}
	{% if section.title != "gridbugs" %}
	<li class="lhs slash-before"><a href="{{ section.permalink | safe }}">{{ section.title | lower }}</a></li>
	{% endif %}
	{% endif %}
	<li class="first-rhs rhs"><a href="{{ config.base_url | safe }}/about">about</a></li>
	<li><a href="{{ config.base_url | safe }}/tags">tags</a></li>
      </ul>
    </nav>
  </div>
</header>
