on: push
name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          BUILD_FLAGS: --base-url https://gridbugs.github.io/gridbugs.org --drafts
          TOKEN: ${{ secrets.TOKEN }}
